################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Com2900G05/.vs/Com2900G05/FileContentIndex
